Django~=4.0.2
django-rest-framework
psycopg2-binary
Pillow~=8.1.2
python-decouple


future~=0.18.2
olefile~=0.46
pip~=20.3.4
keyring~=23.0.1
pytz~=2021.1
sqlparse~=0.4.2
asgiref~=3.5.0
colorama~=0.4.4
PyYAML~=5.3.1
numpy~=1.19.5
setuptools~=52.0.0
Cython~=0.29.21
djangorestframework~=3.13.1
requests~=2.25.1